{% extends 'base.html.twig'%}

{% block body %}

<h1> Bienvenue sur mon blog </h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure libero quo, inventore repudiandae ducimus illum impedit odit consequuntur ex est nesciunt earum esse vitae! Quae fuga ducimus fugit voluptatem impedit eos, magnam quis placeat iste illo laboriosam alias quam ea.</p>
<p>Sit nemo recusandae ex eum repellendus harum! Exercitationem ipsa repellat facilis quibusdam reprehenderit, magni doloremque odio, porro perspiciatis, ut quaerat. Repellendus cum illum id alias consequatur, assumenda laudantium recusandae, provident enim velit corporis quis architecto cumque praesentium cupiditate veniam asperiores!</p>

{% endblock %}